*{
    margin: 0%;
    padding: 0%;
}
.actionCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    text-align: start;
}
.discription{
    height:6.1vh;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.button-container{
display: flex;
justify-content: space-between;
}
.Actionproductcompnent-filterbar{
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}
.Actionproductcompnent-filterbar>div>select{
    border: none;
    width: 38vh;
    border-bottom: 2px solid;
    outline: none;
    margin-left: 10px;
}
