*{
    margin: 0%;
    padding: 0%;
}
.actionCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    text-align: start;
}
.discription{
    height:6.1vh;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.button-container{
display: flex;
justify-content: space-between;
}
.Actionproductcompnent-main-contanier{
width: 100%;
display: flex;
    justify-content: center;
}
.Actionproductcompnent-main-contanier-child{
    display: flex;
    justify-content: space-between;
    width: 80vh;
}
.Actionproductcompnent-main-contanier-child>select{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}