*{
    margin: 0%;
    padding: 0%;
}

.nav-tabs{
 
    text-align: center;
    justify-content: space-evenly;

}

.nav-tabs .nav-link{
  
    border: 2px solid black !important;
}
Tab{
    background-color: blue !important
}
.nav-link.active{
    background-color: blue !important
}